MONGODB_URI=mongodb://root:example@localhost:27017/icebev?authSource=admin

RBMQ_HOST=localhost
RBMQ_USER=user
RBMQ_PASS=password
RBMQ_PORT=5672
RBMQ_VHOST=
RBMQ_EXCHANGE=TOPIC/BLOCKCHAIN

BLOCK_CHANNEL=BLOCKS
EVENT_CHANNEL=EVENTS
ELECTION_CHANNEL=ELECTIONS
REGISTER_CHANNEL=REGISTER
VALIDATE_CHANNEL=VALIDATE

POW_FUNCTION=POW
STOP_POW_FUNCTION=STOP_POW
VALIDATE_FUNCTION=VALIDATE
NEW_BLOCK_FUNCTION=NEW_BLOCK
